body {
  padding-top:60px;
}

.errorLabel {
	color: #70BB70;
}

div.category-header {
	margin: 10px 0 10px 0;
	padding: 0 0 0 20px;
	border: 0 0 0 6px;
	border-color: #EEAA96;
	border-style: none none none groove;
	font-weight: bold;
}

input[type=text] {
	text-align: center;
	background-color: #eae0d3;
}